WPF_Redux_Client/Connected Services/ServiceReference1/System.Windows.Media.Imaging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Cache" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BitmapImage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BitmapSource">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseUri" nillable="true" type="xs:anyURI" />
          <xs:element minOccurs="0" name="CacheOption" type="tns:BitmapCacheOption" />
          <xs:element minOccurs="0" name="CreateOptions" type="tns:BitmapCreateOptions" />
          <xs:element minOccurs="0" name="DecodePixelHeight" type="xs:int" />
          <xs:element minOccurs="0" name="DecodePixelWidth" type="xs:int" />
          <xs:element minOccurs="0" name="Rotation" type="tns:Rotation" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="SourceRect" type="q1:Int32Rect" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="StreamSource" nillable="true" type="q2:Stream" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net.Cache" minOccurs="0" name="UriCachePolicy" nillable="true" type="q3:RequestCachePolicy" />
          <xs:element minOccurs="0" name="UriSource" nillable="true" type="xs:anyURI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BitmapImage" nillable="true" type="tns:BitmapImage" />
  <xs:complexType name="BitmapSource">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Windows.Media" base="q4:ImageSource">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BitmapSource" nillable="true" type="tns:BitmapSource" />
  <xs:simpleType name="BitmapCacheOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="OnDemand">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OnLoad">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BitmapCacheOption" nillable="true" type="tns:BitmapCacheOption" />
  <xs:simpleType name="BitmapCreateOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PreservePixelFormat">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DelayCreation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="IgnoreColorProfile">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="IgnoreImageCache">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="BitmapCreateOptions" nillable="true" type="tns:BitmapCreateOptions" />
  <xs:simpleType name="Rotation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rotate0" />
      <xs:enumeration value="Rotate90" />
      <xs:enumeration value="Rotate180" />
      <xs:enumeration value="Rotate270" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Rotation" nillable="true" type="tns:Rotation" />
</xs:schema>