WPF_Redux_Client/Connected Services/ServiceReference1/WcfServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatarka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorEye" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorHairCut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Faith" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" minOccurs="0" name="Filters" nillable="true" type="q1:Filters" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LatiTude" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" minOccurs="0" name="Likes" nillable="true" type="q2:ArrayOfLikes" />
      <xs:element minOccurs="0" name="LongiTude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" minOccurs="0" name="chatItems" nillable="true" type="q3:ArrayOfChatItemUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTmpChatItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TmpChatItem" nillable="true" type="tns:TmpChatItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTmpChatItem" nillable="true" type="tns:ArrayOfTmpChatItem" />
  <xs:complexType name="TmpChatItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chatid" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LastMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" minOccurs="0" name="messages" nillable="true" type="q4:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TmpChatItem" nillable="true" type="tns:TmpChatItem" />
</xs:schema>