WPF_Redux_Client/Connected Services/ServiceReference1/WcfServiceLibrary2.Classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" />
  <xs:complexType name="ArrayOfDatings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Datings" nillable="true" type="tns:Datings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatings" nillable="true" type="tns:ArrayOfDatings" />
  <xs:complexType name="Datings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatingId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAcсeptedByFirst" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAcсeptedBySecond" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Typeofplace" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="female" nillable="true" type="q1:User" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="male" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datings" nillable="true" type="tns:Datings" />
  <xs:complexType name="ArrayOfLikes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Likes" nillable="true" type="tns:Likes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLikes" nillable="true" type="tns:ArrayOfLikes" />
  <xs:complexType name="Likes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_Like" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LikeID" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="User_Liked_ID" nillable="true" type="q3:User" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="User_Who_Liked_ID" nillable="true" type="q4:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Likes" nillable="true" type="tns:Likes" />
  <xs:complexType name="ArrayOfChatItemUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatItemUsers" nillable="true" type="tns:ChatItemUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatItemUsers" nillable="true" type="tns:ArrayOfChatItemUsers" />
  <xs:complexType name="ChatItemUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatItem" nillable="true" type="tns:ChatItem" />
      <xs:element minOccurs="0" name="ChatItemId" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="User" nillable="true" type="q5:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatItemUsers" nillable="true" type="tns:ChatItemUsers" />
  <xs:complexType name="ChatItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
      <xs:element minOccurs="0" name="Participants" nillable="true" type="tns:ArrayOfChatItemUsers" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatItem" nillable="true" type="tns:ChatItem" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRecieved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="TimeSending" type="xs:dateTime" />
      <xs:element minOccurs="0" name="chatItem" nillable="true" type="tns:ChatItem" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" minOccurs="0" name="user" nillable="true" type="q6:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>